/* Feed.module.css */
.feed {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: relative; /* To position the button */
  }
  
  .icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: 1rem;
  }
  
  .title {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 2rem;
    position: relative;
    width: 100%;
  }
  
  .unfollowButton {
    padding: 4px 8px;
    background-color: #e74c3c; 
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 7rem;
    transition: background-color 0.3s ease-in-out;
    width: auto;
    height: 1.5rem;
  }
  
  .unfollowButton:hover {
    background-color: #c0392b; 
  }
  
  .feed:hover {
    background-color: #2441e0;
  }
  
  .feed:hover .title {
    color: #91ecfc;
  }
  