.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem;
    border-bottom: 1px solid #ccc;
   
}

.title{
    
    margin-left: 2rem;
    font-size: 21pt;
    font-weight: 700;
    color: #000000;
}

.icon{
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
}